.App {
  text-align: center;
}

body::before {
  display: block;
  content: '';
  height: 60px;
}

.map-container {
  height: 400px;
  width: 400px;

  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
